body{
	font-family: arial, sans-serif;
	text-align: center;
}

body{
	margin:0;
	padding:0;
}

.nav{
	height: 100px;
	width: 400px;
}

body {
	background: url(../images/762210.jpg) no-repeat center top scroll;
	background-size: cover;
	background-image: url("../images/762210.jpg");
}

