/*****************************************************
contact styles
******************************************************/
.form-wrapper,div.container{
}

label {
	display: block;
	margin: 15px 0 5px 0;
}


button {
	padding: 5px 10px;
	font-weight: bold;
	font-size: 1rem;
	border: none;
}

form div:nth-child(4) {
	margin-bottom: 15px;
}

.form-wrapper h2 {
	margin-top: 0;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
}

.carousel-caption{
	color: white;
	text-shadow: 2px 2px black;

}

/* Small devices*/
@media (min-width: 576px) and (max-width: 767px)
{
/*Medium devices*/
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
/*Larger devices*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

